.logo {
    width: 200px;
    height: 50px;
}
.header-items{
    text-decoration: none;
    font-size: 20px;
    padding: 5px 15px;
    margin: 10px;
    color: antiquewhite;
    transition: .5s;
    font-family: 'Pacifico', cursive;
}
.header-items:hover{
color: aliceblue;
}