.nav-bar {
    position: -webkit-sticky;
    z-index: 99;
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

.logo {
    width: 200px;
    height: 50px;
}

.header-items {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 15px;
    margin: 10px;
    color: antiquewhite;
    transition: .5s;
    font-family: 'Pacifico', cursive;
}

.header-items:hover {
    color: aliceblue;
}

.user-image {
    border-radius: 50%;
    width: 60px;
    display: block;
    margin: 0 auto;
}

.logout-button {
    border: none;
    background-color: rgb(241, 150, 150);
    color: white;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px;
}