.carousel-container {
    overflow-x: hidden;
}

.slider-img {
    max-height: 750px;
}

.logo-container {
display: grid;
grid-template-columns: repeat(5,1fr);
background-color: #ccc;
}
.logo-container>div{
    margin: 0 auto;
}
.brand-logo {}

.logo-container img {
    width: 80px;
}

.parallax {
    background-image: url("https://i.ibb.co/4dHm0x1/olav-tvedt-yq-ef-MJMu-Pg-unsplash-1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owner-section {
    margin: 10px 0;
    box-shadow: 0 0 50px #ccc
}


.owner-header {
    text-align: center;
    font-size: 55px;
    font-family:popiens;
}

.welcome-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 50px #ccc;

}

.welcome-description {
    font-family:popiens;
    padding: 10px;
    text-align: justify;
    margin-top: 10px;
}

.welcome-image img {
    margin: 10px;
}

.welcome-image {
    max-width: 650px;
    display: block;
    margin: 0 auto;
}

.item-section {
    margin: 50px 0;
    padding-bottom: 10px;
    box-shadow: 0 0 50px #ccc;
}

.stored-item-header {
    margin-top: 5px;
    text-align: center;
    padding: 10px 0;
    font-family:popiens;
}

.stored-item {
    display: block;
    margin: 10px;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.explore-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(183, 239, 221);
    border-radius: 5px;
}

/* responsive */
/* for mobile devices */
@media screen and (max-device-width: 768px) {
    .item-container {
        grid-template-columns: 1fr;
    }
}

/* for tab */
@media screen and (min-device-width: 769px) and (max-device-width: 992px) {
    .owner-container {
        grid-template-columns: 1fr;

    }

    .welcome-container {
        grid-template-columns: 1fr;

    }

    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
}