.slider-img {
    max-height: 750px;
}

.parallax {
    background-image: url("https://i.ibb.co/rfr5C4Y/blue-sport-sedan-parked-yard-1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owner-section {
    background-color: #ccc;
}

.owner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.owner-header {
    text-align: center;
    font-size: 55px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.welcome-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 50px #ccc;

}

.welcome-description {
    font-family: 'Oleo Script Swash Caps', cursive;
    padding: 10px;
    text-align: justify;
    margin-top: 10px;
}

.welcome-image img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-image {
    max-width: 650px;
}

.item-section {
    background-color: #ccc;
    margin: 10px 0;
    padding-bottom: 10px;
}

.stored-item-header {
    margin-top: 5px;
    text-align: center;
    padding: 10px 0;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.stored-item {
    display: block;
    margin: 5px auto;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.explore-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(183, 239, 221);
    border-radius: 5px;
}

/* responsive */
/* for mobile devices */
@media screen and (max-device-width: 768px) {
    * {
        overflow-x: hidden;
    }

    .owner-container {
        grid-template-columns: 1fr;


    }

    .welcome-container {
        grid-template-columns: 1fr;

    }

    .item-container {
        grid-template-columns: 1fr;
    }
}

/* for tab */
@media screen and (min-device-width: 769px) and (max-device-width: 992px) {
    .owner-container {
        grid-template-columns: 1fr;

    }

    .welcome-container {
        grid-template-columns: 1fr;

    }

    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
}